body{
  margin: 0px;
  background-color: #ffffff;
}

/**Start Nav Styles**/
.logo:hover{
  
}
.logo{
  height: 75px;
  margin-left: 5px;
  margin-top: 5px;
  width: 110px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.logo:hover {
	animation: bounce 1s;
}

.main-nav{
  background: #00ace6;
}
.nav-list{
  float: right;
  list-style: none;
  margin-top: 25px;
  margin-right: 5px;
}
.nav-item{
  float: left;
  margin-right: 15px;
}
.nav-link{
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}
.nav-link:hover{
  color: gold;
  text-decoration: none;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}
/**End Nav Styles**/

/**Start Footer Styles*/
.main-footer {
  border-top: 1px solid #000000;
}
.main-footer:after {
  content: "";
  display: block;
  clear: both;
}
.footer-section {
  width: 33.258%;
  height: 150px;
  float: left;
  padding: 15px 0px;
  text-align: center;
  border-left: 1px solid #000000;
  font-size: 25px;
  background-color: #00ace6;
}
.footer-text{
  color: #ffffff;
}
.section {
  height: 50px;
  width: 150px;
}
.center {
  margin: 0 auto;
}

.facebooklogo{
  color: blue;
  height: 15px;
  width: 15px;
  margin-top: 60px;
}

/**End Footer Section**/